body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

section {
    margin: 20px;
}

#project {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

h1, h2 {
    color: #333;
}

#bio, #work {
    background-color: #e9e9e9;
    padding: 15px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}


/* start of links styling */

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: black;
  }

/* end of links styling */